@import url("reset.css");
/* read this about this box-sizing thingy 
https://css-tricks.com/box-sizing/*/
* { box-sizing: border-box; }

$small-screen: "(max-width: 500px)";
$big-screen: "(min-width: 1300px)";

$header-background-color: #333333;
$header-text-color: #BFBAB6;
$nav-list-color: #232323;
$body-text-color: #979797;
$link-color: #F59D2A;
$footer-background-color: #333333;


.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
//makes 12 col layout
@mixin col($cols){
  width: (($cols/12)*95+0%);
  text-align: center;
  //can change height
  //can change margin
  border: 2px solid black;
  margin-top: 5px;
  margin-left: 10px;

  }

.col-1{
  @include col(1);
  background-color: orange;
}
.col-2{
  @include col(2);
  background-color: purple;
}

.col-3{
  @include col(3);
  background-color: red;
}
.col-4{
  @include col(4);
  
}
.col-5{
  @include col(5);
}
.col-6{
  @include col(6);
  background-color: gray;
}
.col-7{
  @include col(7);
  background-color: brown;
}.col-8{
  @include col(8);
  background-color: darken(grey, 10%);
}
.col-9{
  @include col(9);
  background-color: blue;
}
.col-10{
  @include col(10);
  background-color: darken(orange, 10%);
}.col-11{
  @include col(11);
  background-color: lighten(blue, 10%);
}.col-12{
  @include col(12);
}

body{
  color: $body-text-color;
}

a{
  color: $link-color;
}
.header-row{

  height: 10vmax;
  background-color: $header-background-color;
  color: $header-text-color;
  .brand-info{
    padding-top: 5px;
    h2{ font-size: 3vmax;
    }
  }
}

.nav-list{
  align-self: center;
      background-color: $nav-list-color;


  li{
    display: inline;
    margin: 5px;
    font-size: calc(10px + .5vmax);
  }
}

.big-image-row{
  justify-content: flex-end;
  height: 30vh;
}

.article{
  text-align: left;
  font-size: calc(12px + .25vmax);
  .small-image{
  float: left;
  height: 6vmax;
  }
  a{
    float: right;
  }
}
footer{
  background-color: $footer-background-color;
  margin-top: 5vmax;
  height: 5vmax;
}