@import url("reset.css");
/* read this about this box-sizing thingy 
https://css-tricks.com/box-sizing/*/
* { box-sizing: border-box; }

$small-screen: "(max-width: 500px)";
$big-screen: "(min-width: 1300px)";

$header-background-color: #333333;
$header-text-color: #BFBAB6;
$nav-list-color: #232323;
$image-background-color: #CCCCCC;
$body-text-color: #979797;
$link-color: #F59D2A;
$footer-background-color: #333333;


.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
//makes 12 col layout
@mixin col($cols){
  width: (($cols/12)*92+0%);
  text-align: center;
  //can change height
  //can change margin
  margin: 5px;
  // comment in to see border of cols 
  //border: 2px solid black;
  }

.col-1{
  @include col(1);
  background-color: orange;
}
.col-2{
  @include col(2);
  background-color: purple;
}

.col-3{
  @include col(3);
  background-color: red;
}
.col-4{
  @include col(4);
  
}
.col-5{
  @include col(5);
}
.col-6{
  @include col(6);
  background-color: gray;
}
.col-7{
  @include col(7);
  background-color: brown;
}.col-8{
  @include col(8);
  background-color: darken(grey, 10%);
}
.col-9{
  @include col(9);
  background-color: blue;
}
.col-10{
  @include col(10);
  background-color: darken(orange, 10%);
}.col-11{
  @include col(11);
  background-color: lighten(blue, 10%);
}.col-12{
  @include col(12);
}

body{
  color: $body-text-color;
    font-size: calc(12px + .25vmax);
    width: 90%;
    margin: 0 auto;

}

a{
  color: $link-color;
}
.header-row{
  height: 10vmax;
  background-color: $header-background-color;
  color: $header-text-color;
  .brand-info{
    padding-top: 5px;
    h2{ 
      font-weight: normal;
      font-size: 3vmax;
    }
  }
}

.nav-list{
  align-self: center;
  display: flex;
      background-color: $nav-list-color;
      height: 5vmax;
      align-items: center;
      justify-content: center;

  li{
    display: inline;
    margin: .5vw;
    line-height: 3;
    font-size: calc(9px + .25vmax);
  }
}

.big-image-row{
  justify-content: flex-end;
  height: 25vmax;
  .big-image{
    background-color: #CCCCCC;
  }
  .empty-col{
      border-left: 1px solid  lighten($image-background-color, 10%);
      border-right: 1px solid $image-background-color;
  }
}

.article{
  text-align: left;
  font-size: calc(10px + .25vmax);
  line-height: 1.5;
  .small-image{
    background-color: $image-background-color;
  float: left;
  height: 6vmax;
box-shadow: inset 0px 0px 0px 4px  white;

  border: 1px solid lighten($image-background-color, 20%);
  }
  a{
    float: right;
    text-decoration: none;
  }
}
.footer-row{
  justify-content: flex-start;
  background-color: $nav-list-color;
  margin-top: 5vmax;
  height: 5vmax;
}

.bottom-text{
    align-self: center; //verticle align inside of footer-row
    p{
        font-size: calc(9px + .25vmax);

      float: left;
      padding-left: 5vmax;
    }
}


